{% extends "layout.html" %}

{% block content %}

  <div class="hero-area row">
	 <h1 class="home-heading">About Leagueify</h1>
	 <p>We believe that Fantasy Leagues shouldn't be confined to mainstream sports. We all love different things and have different interests. Our mission is to make it easy for everyone to create a Fantasy League about any topic.</p>
	 <p>Everything from The Bachelor to The Oscars, we'll be sure to have Fantasy Leagues for. Our goal is to bring the same fun from Fantasy Football Leagues and bring it into all other interesting things.</p>
	 <p>Game on,</p>
	 <p class="text-center">
		 <img src="images/leagueify-mustache-black.png" alt="Leagueify mustache black" title="Leagueify mustache black">
	 </p>
	 <div class="button radius"><a href="http://signup.leagueify.co">Sign up</a></div>
  </div>

{% endblock %}