<!doctype html>
<html>
<head>
  <title>Leagueify | Fantasy Leagues for anything</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="bower_components/foundation/css/normalize.css">
  <link rel="stylesheet" href="bower_components/foundation/css/foundation.css">
  <link rel="stylesheet" href="stylesheets/webicons.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="bower_components/modernizr/modernizr.js"></script>
</head>
<body>

<!-- Navigation -->
 <div class="top-bar-container">
  <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <img src="/images/leagueify-logo-white-transparent.png">
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
      </ul>
   
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a href="about">about</a></li>
          <li><a href="leagues">leagues</a></li>
          <li><a href="http://signup.leagueify.co">sign up</a></li>
        </ul>
      </section>
  </nav>
</div>

<!-- Content -->
{% block content %}{% endblock %}
 

    <!-- Footer -->
  <div class="footer-container">
  <footer class="row">
    <div class="large-12 columns">
        <div class="row">

          <div class="large-6 columns">
              <p class="copyright">© Copyright Leagueify.com</p>
          </div>

          <div class="large-6 columns social-icons">
            <a class="webicon googleplus" href="https://www.facebook.com/leagueify" target="_blank">Facebook</a>
            <a class="webicon facebook" href="https://www.facebook.com/leagueify" target="_blank">Facebook</a>
            <a class="webicon twitter" href="https://twitter.com/Leagueify" target="_blank">Facebook</a>
          </div>

        </div>
    </div>
  </footer>
  </div>
 
    <!-- End Footer -->
 
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/foundation/js/foundation.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>